
entry {
    flex-direction: Row;
    border: 3px Solid Black;
    justify-content: Space_evenly;
    width: 90%;
    padding: 20px 0px 20px 0px;
}

names {
    border: 1px Solid Black;
    flex-direction: Column;
    justify-content: Center;
    align-items: Center;
    width: 20%;
}

name {
    font-style: Bold;
    font-size: 16px;
}

scores {
    border: 1px Solid Black;
    flex-direction: Column;
    width: 70%;
}

.score_item {
    border: 1px Solid Black;
    width: 75px;
    justify-content: Center;
    align-items: Center;
}
