* {
    font-style: bold;
    font-size: 24px;
}

.bold-border {
    border: 3px solid black;
}

team {
    flex-direction: row;
}

players {
    flex-direction: column;
    margin: 10px;
    justify-content: Center;
    align-items: Center;
}

rounds {
    flex-direction: column;
    padding: 10px;
    justify-content: Center;
    align-items: Center;
}

player {
    justify-content: Center;
    align-items: Center;
    font-style: bold;
    font-size: 12px;
    background-color: pink;
}

category, entry {
    border: 1px Solid Black;
    width: 85px;
    height: 35px;
    justify-content: Center;
    align-items: Center;
}
