* {
    width: 100px;
}

t1 {
    left: 30px;
}

t1 {
    background-color: red;
    height: 20px;
    width: 50px;
    flex-axis: row;
    left: 10px;
}

t1 {
    left: 20px;
}

.parent {
    background-color: blue;
    height: 10px;
    bottom: 20px;
}

#parent {
    background-color: green;
}

t1.parent {
    flex-axis: column;
    bottom: 10px;
}